<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-PROCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/admage/log/%d{yyyy-MM-dd}/${processFile}%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [${PID}] - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.entropy.backend.controllers" level="INFO" additivity="false">
        <appender-ref ref="FILE-PROCESS"/>
    </logger>
    <logger name="com.entropy.backend.services" level="INFO" additivity="false">
        <appender-ref ref="FILE-PROCESS"/>
    </logger>

</configuration>